<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:tx="http://www.springframework.org/schema/tx" xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans-4.2.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop-4.2.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
        <context:component-scan  base-package="com.zafkiel"/>
        <aop:aspectj-autoproxy  proxy-target-class="true"/>
        <!--定义业务和切面的bean-->
        <bean id="myFunctionImpl1" class="com.zafkiel.Service.impl.MyFunctionImpl1"/>
        <bean id="myFunctionImpl2" class="com.zafkiel.Service.impl.MyFunctionImpl2"/>
        <bean id="timeAspect" class="com.zafkiel.Aspect.TimeAspect"/>
        <aop:config>
                <aop:aspect id="showTime" ref="timeAspect">
                        <aop:pointcut  id="weaveOnSomeMethod" expression=" execution(* com.zafkiel.Service.IMyFunction.*())"/>
                        <aop:before method="printTime" pointcut-ref="weaveOnSomeMethod"/>
                        <aop:after method="printTime" pointcut-ref="weaveOnSomeMethod"/>
                </aop:aspect>
        </aop:config>
</beans>